# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual Environment
venv/

# Environment
.env

# Database
*.db
*.db-shm
*.db-wal

# Logs
logs/

# Backups
backups/

# IDE
.vscode/
.idea/

# OS
.DS_Store
.venv/
